* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: burlywood;
  border: 10px solid black;
  margin: 20px 20%;
}

.top {
  background-color: chocolate;
  height: 8vh;
}

.menu-top {
  background-color: cadetblue;
  height: 20vh;
}

.bottom {
  background-color: chocolate;
  height: 8vh;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu div {
  min-width: 300px;
  background-color: lightsalmon;
}
